# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

# IDE
/.idea/
/.project
/.classpath
/.settings/
/.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Local secrets
/config/application-prod.yml
/config/.env
/config/.env.prod
/config/.env.local
